html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

#navbar {
    height: 70px;
}

#index {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202327;
    color: whitesmoke;
}

#index .sosmed img {
    width: 80px;
    height: 80px;
    margin: 10px;
}

#index .img {
    width: 570px;
    height: 450px;
    position: absolute;
    top: 100px;
    right: 100px;
}

#dashboard_home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

#tableData th {
    text-align: center;
}


#tableData tr:hover {
    background-color: #378ef8;
}
